body {
    font-size: 15px;
    color: #fff;
    background-color: rgb(51, 51, 50);
    font-family: 'Oxygen', sans-serif;
}


/* Header */

.navbar {
    background-color: rgb(252, 212, 33);
    border-radius: 0;
    border: 0;
    justify-content: space-around;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 2.5em;
    padding-top: 25px;
    text-align: center;
}

#nav-image {
    width: 150px;
    height: 100%;
    border-radius: 50%;
    padding: 20px;
}

#name {
    font-size: 1.5em;
}

#nav-list {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item {
    vertical-align: middle;
    padding: 20px;
}

.nav-item a {
    font-size: 1.2em;
    color: #000;
}


/* End header */


/* Main */

main {
    display: flex;
    padding: 30px;
}

.container {
    padding-right: 40px;
}

h2 {
    padding: 30px 0 10px;
}

h3,
h4 {
    font-size: 1.2em;
    font-weight: bold;
}

#contacts a {
    color: rgb(252, 212, 33);
    display: block;
    padding: 5px 0 5px;
    text-decoration: none;
}

.bi {
    font-size: 1.5em;
}

.bi-geo-alt-fill {
    fill: red;
}

.bi-telephone-fill {
    fill: green;
}

.bi-at {
    fill: orange;
}

#contacts img {
    width: 1.5em;
    height: 1.5em;
}

#contacts span {
    padding-left: 10px;
}

#education .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
}

#skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 15px 0;
}

.skill-title {
    text-align: left;
}

progress {
    width: 300px;
    font-size: 1.5em;
    background: rgb(252, 212, 33);
    border: none;
    border-radius: 50%;
    text-align: center;
}

progress::-webkit-progress-bar {
    background: #bbb;
}

progress::-webkit-progress-value {
    background: rgb(17, 109, 247);
}

.skill-rank {
    text-align: right;
}


/* End Main */


/* Footer */

#panel-footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 212, 33);
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    flex-direction: column;
}

#panel-footer div {
    margin: 0;
    text-align: right;
    padding: 0 20px 5px 0;
    color: rgb(51, 51, 50);
}

#panel-footer a {
    color: rgb(17, 109, 247);
}

#attributions {
    font-size: 12px;
}


/* End footer */